.body {
	width: 100%;
}

.main_block {
	/*margin-left: 100px;
	margin-right: 100px;*/
	max-width: 1200px;
	margin: auto;
}

.foto_bandera {
	width: 120px;
    float: left;
	margin: 5px 15px 5px 0px;
}
